body{
  font-family: Verdana;
  text-align: center;
}

.box{
  width: 150px;
  height: 150px;
  border: 5px solid;
  border-radius: 25px;
  
  transform: translate(80%, 40%) rotatez(225deg);
}

#box1{
  animation-name: BoxAnimation1;
  animation-duration: 1s;
}

@keyframes BoxAnimation1{
  from{transform: translate(500px, 1000px)}
}

#box2{
  animation-name: BoxAnimation2;
  animation-duration: 1.5s;
}

@keyframes BoxAnimation2{
  from{transform: translate(-500px, 1000px)}
}

#box3{
  animation-name: BoxAnimation3;
  animation-duration: 1.25s;
}

@keyframes BoxAnimation3{
  from{transform: translate(500px, -1000px)}
}

#box4{
  animation-name: BoxAnimation4;
  animation-duration: 1.75s;
}

@keyframes BoxAnimation4{
  from{transform: translate(-500px, -1000px)}
}

/* BORDER */

#button1{
  font-size: 50px;
  background-color: blue;
  border-radius: 25px;
}

#button2{
  font-size: 50px;
  background-color: red;
  border-radius: 25px;
  margin-top: 25px;
}

#countLabel{
  display: block;
  text-align: center;
  font-size: 10em;
  font-family: Helvetica;
}

#buttonContainer{
  text-align: center;
}

.buttons{
  padding: 10px 20px;
  font-size: 1.5em;
  font-color: white;
  background-color: cyam;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
}

.buttons:hover{
  background-color: blue;
}

/* BORDER */

#button3{
  font-size: 3em;
  padding: 5px 25px;
  border-radius: 5px;
}

.labels{
  font-size: 3em;
}

/* BORDER */

#submit3{
  font-size: 1.2em;
}