.box{
  width: 150px;
  height: 150px;
  border: 5px solid;
  
  transform: translate(80%, 40%) rotatez(225deg);
}

#box1{
  animation-name: BoxAnimation1;
  animation-duration: 1s;
}

@keyframes BoxAnimation1{
  from{transform: translate(500px, 1000px)}
}

#box2{
  animation-name: BoxAnimation2;
  animation-duration: 1.5s;
}

@keyframes BoxAnimation2{
  from{transform: translate(-500px, 1000px)}
}

#box3{
  animation-name: BoxAnimation3;
  animation-duration: 1.25s;
}

@keyframes BoxAnimation3{
  from{transform: translate(500px, -1000px)}
}

#box4{
  animation-name: BoxAnimation4;
  animation-duration: 1.75s;
}

@keyframes BoxAnimation4{
  from{transform: translate(-500px, -1000px)}
}